div.side-menu
  div.side-menu__burger 
    include ../../icons/menu-button.html
  div.side-menu__nav
    a.side-menu__item(href="#samples", data-scroll) Коллекция monochrome
    a.side-menu__item(href="#gallery", data-scroll) Реализованные проекты
    a.side-menu__item(href="#about", data-scroll) О компании
    a.side-menu__item.side-menu__item_download(href="assets/media/CATALOG_ALTACO_MONOCHROME.pdf", target="_blank") 
      include ../../icons/download.html
      span Каталог камня