div.side-menu
  div.side-menu__burger 
    include ../../icons/menu-button.html
  div.side-menu__nav
    a.side-menu__item(href="#samples", data-scroll) Stone samples
    a.side-menu__item(href="#gallery", data-scroll) Design
    a.side-menu__item(href="#about", data-scroll) Company
    a.side-menu__item.side-menu__item_download(href="#", download) 
      include ../../icons/download.html
      span Stones' catalog