nav.menu  
  a.menu__item(href="#") Образцы камня
  a.menu__item(href="#") Проектирование 
  a.menu__item(href="#") Компания
  a.menu__item.menu__item_download(href="#", download) 
    include ../../icons/download.html
    span Каталог камня
