nav.menu  
  a.menu__item(href="#samples", data-scroll) Образцы камня
  a.menu__item(href="#gallery", data-scroll) Проектирование 
  a.menu__item(href="#about", data-scroll) Компания
  a.menu__item.menu__item_download(href="#", download) 
    include ../../icons/download.html
    span Каталог камня
