nav.menu  
  a.menu__item(href="#samples", data-scroll, data-aos='fade', data-aos-delay='200') Collection
  a.menu__item(href="#gallery", data-scroll, data-aos='fade', data-aos-delay='300') Projects 
  a.menu__item(href="#about", data-scroll, data-aos='fade', data-aos-delay='400') About Company
  a.menu__item.menu__item_download(href="#", download, data-aos='fade', data-aos-delay='500') 
    include ../../icons/download.html
    span Catalog on-line
