div.samples 
  div.samples__top
    div.samples__logo(data-aos='fade-up', data-aos-delay='100')
      <span>Mono</span>chrome
      div collection
  div.container
    div.samples__wrap 
      include ../../components/sample/sample
      div.samples__item(data-aos='fade-up', data-aos-delay='100')
        +sample('s1.jpg', 'Marble Versilys', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='200')
        +sample('s2.jpg', 'Travertine Titanium', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='300')
        +sample('s3.jpg', 'Marble Pietra Grey', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='400')
        +sample('s4.jpg', 'Marble Paonazzo', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='500')
        +sample('s5.jpg', 'Granite Nero Zimbabwe', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='600')
        +sample('s6.jpg', 'Quarcite Matrix', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='700')
        +sample('s7.jpg', 'Marble Carrara Gioia', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='800')
        +sample('s8.jpg', 'Quarcite Luce di Agata', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='900')
        +sample('s9.jpg', 'Marble King White', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='1000')
        +sample('s10.jpg', 'Quarcite Cristallo (Backlight)', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='1100')
        +sample('s11.jpg', 'Granite Colonial White', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='1200')
        +sample('s12.jpg', 'Marble Calacatta Cervaiole Extra', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='1300')
        +sample('s13.jpg', 'Marble Calacatta Cervaiole', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='1400')
        +sample('s14.jpg', 'Quarcite Blanc de Blanc', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item(data-aos='fade-up', data-aos-delay='1500')
        +sample('s15.jpg', 'Marble Bianco Carrara Extra', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
