div.samples 
  div.samples__top
    div.samples__logo
      <span>Mono</span>chrome
      div collection
  div.container
    div.samples__wrap 
      include ../../components/sample/sample
      div.samples__item
        +sample('s1.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s2.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s3.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s4.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s5.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s6.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s7.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s8.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s9.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s10.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s11.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s12.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s13.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s14.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
      div.samples__item
        +sample('s15.jpg', 'Natural stones retain a timeless beauty.', 'Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.')
