div.team 
  div.team__item(data-aos='fade-up', data-aos-delay='300')
    span.corner_tl
    span.corner_tr
    span.corner_bl
    span.corner_br 
    figure 
      img(src=imgUrl+"team/t1.jpg", alt="Alexander Shved")
      figcaption
        span.team__name Alexander Shved
        span.team__position Director
  div.team__item(data-aos='fade-up', data-aos-delay='400') 
    span.corner_tl
    span.corner_tr
    span.corner_bl
    span.corner_br
    figure 
      img(src=imgUrl+"team/t2.jpg", alt="Anastasia Kolesnik")
      figcaption
        span.team__name Anastasia Kolesnik
        span.team__position Designer, Visualizer
  div.team__item(data-aos='fade-up', data-aos-delay='500')
    span.corner_tl
    span.corner_tr
    span.corner_bl
    span.corner_br
    figure 
      img(src=imgUrl+"team/t3.jpg", alt="Alexander Pazyura")
      figcaption
        span.team__name Alexander Pazyura
        span.team__position Chief Sales Officer