div.team 
  div.team__item(data-aos='fade-up', data-aos-delay='300')
    span.corner_tl
    span.corner_tr
    span.corner_bl
    span.corner_br 
    figure 
      img(src=imgUrl+"team/t1.jpg", alt="Александр Швед")
      figcaption
        span.team__name Александр Швед
        span.team__position Директор
  div.team__item(data-aos='fade-up', data-aos-delay='400') 
    span.corner_tl
    span.corner_tr
    span.corner_bl
    span.corner_br
    figure 
      img(src=imgUrl+"team/t2.jpg", alt="Юлия Цезарь")
      figcaption
        span.team__name Юлия Цезарь
        span.team__position Менеджер
  div.team__item(data-aos='fade-up', data-aos-delay='500')
    span.corner_tl
    span.corner_tr
    span.corner_bl
    span.corner_br
    figure 
      img(src=imgUrl+"team/t3.jpg", alt="Валерий Дамницкий")
      figcaption
        span.team__name Валерий Дамницкий
        span.team__position Консультант