// Responsive
$mobile-width: 769px;
$tablet-width: 992px;

// Colors
$color-white: #fff;
$color-grey-2: #b0b8be;
$color-grey-dark: #424242;
$color-grey: #9e9e9e;
$color-grey-light: #fafafa;
$color-grey-light-2: #f2f2f2;
$color-blue: #2196f3;
$color-allert: #ff0000;
$color-green: #43a047;
$color-orange: #ff5722;
$color-orange-soft: #fffaf8;
$color-black: #000;

// Fonts
$font-family-base: 'Myriad Pro Cond', sans-serif;
$font-size-base: 14px;
$font-weight-regular: 400;
