div.about
  div.container.about__container
    div(data-aos='fade-up', data-aos-delay='200')
      h2 About company
      p The world around us is constantly changing, new technologies and new opportunities appear every day, more and more information is freely available. Every day art develops. Music, prose, design, architecture, began with simple and accessible forms, went through many stages of development from the classical era to impressionism and now returned to the most practical solutions. Over time, you begin to understand that real beauty is not in excess and pomp, and you are looking for ways to express yourself in what you will not get tired tomorrow. You want to be the best in your field and throw away all that is superfluous - this is how Altaco's Monochrome collection, which today is the foundation of our showroom, has appeared.
      p Of course, we work with other colors, but Monochrome is the epitome of Altaco. We love minimalism and we are sure that the purity of white, a variety of shades of gray and the severity of black make up the basis, while everything else should serve as accents.

    div.about__team 
      include ../../components/team/team

    div.about__information
      div.about__half(data-aos='fade-up', data-aos-delay='600')
        h2 Information
        div.about__contacts 
          div.about__contact 
            div.about__contact-icon
              include ../../icons/address.html
            div.about__contact-info
              | Kiev, st. Priorskaya 21

          div.about__contact
            div.about__contact-icon
              include ../../icons/phone.html
            div.about__contact-info
              a(href="tel:+380442324461") +380 (44) 232 44 61 <br>
              a(href="tel:+380961544114") +380 (96) 154 41 14

          div.about__contact
            div.about__contact-icon
              include ../../icons/mail.html
            div.about__contact-info
              a(href="mailto:Info@altaco.com.ua") Info@altaco.com.ua

          div.about__contact 
            div.about__contact-icon
              include ../../icons/fb.html
            div.about__contact-info
              a(href="https://facebook.com/altacostone/", target="_blank") facebook.com/altacostone

          div.about__contact 
            div.about__contact-icon
              include ../../icons/clock.html
            div.about__contact-info
              | Mon-Fri 9.00-18.00 <br>
              | Sat 9.00 - 14.00 <br>
              | Su Output



      div.about__half(data-aos='fade-up', data-aos-delay='700')
        h2 Contacts us   
        div.about__form 
          form(method="post", id="ajax_form", action="_post.php")
            div.form-group 
              label(for="user_name") Name
              input#user_name(type="text", name="field[name]", required)  
            div.form-group 
              label(for="user_email") E-mail
              input#user_email(type="email", name="field[email]", required)  
            div.form-group 
              label(for="user_phone") Phone
              input#user_phone(type="tel", name="field[phone]", required) 
            div.form-group 
              label(for="user_massage") Message
              textarea#user_massage(name="field[message]", required)
            div.form-btn
              input(type="submit", value="Send")
          div#result_success.about__form-success 
            h3 Thank!
            br
            p Your request has been sent. We will reply to you soon.
          //- div#result_error.about__form-error Одно или несколько полей не заполнены.
  include ../../components/footer/footer