section.about 
  div.container.about__container
    h2 О КОМПАНИИ
    p Мир вокруг нас постоянно меняется, каждый день появляются новые технологии и новые возможности, все больше информации в свободном доступе. День за днём развивается искусство. Музыка, проза, изобразительное искусство, дизайн, архитектура, начавшись с простых и доступных форм, они прошли много этапов развития от классической эпохи до импрессионизма и сейчас вернулись к максимально практичным решениям. Со временем ты начинаешь понимать что настоящая красота не в излишествах и помпезности и ищешь способы самовыражения от которых ты не устанешь завтра. Хочешь стать лучшим в своей сфере и отбрасываешь лишнее - так и появилась коллекция Altaco “Monochrome” которая сегодня и является основой нашего шоурума. 
    p Конечно мы работаем и с другими цветами, но “Monochrome” - воплощение Altaco. Мы за минимализм и уверены что чистота белого, разнообразие оттенков серого и строгость чёрного это основа, а все остальное - акценты.

    div.about__team 
      include ../../components/team/team
      
  
  include ../../components/footer/footer