header.header
  div.header__logo(data-aos='fade', data-aos-delay='100') 
    include  ../../icons/logo.html   
  div.header__menu 
    include ../menu/menu

  a.header__catalog(href="", download)
    include ../../icons/download.html
    span Catalog on-line
    
  div.header__lang(data-aos='fade', data-aos-delay='300')
    include ../lang/lang