header.header
  div.header__logo(data-aos='fade', data-aos-delay='100') 
    include  ../../icons/logo.html   
  div.header__menu 
    include ../menu/menu-ru

  a.header__catalog(href="assets/media/CATALOG_ALTACO_MONOCHROME.pdf", target="_blank")
    include ../../icons/download.html
    span Каталог камня
    
  div.header__lang(data-aos='fade', data-aos-delay='300')
    include ../lang/lang-ru