div.promo
  include ../../components/header/header
   
  div.promo__gallery 
    img(src=imgUrl+"promo/img_1.jpg", alt="Altaco Presentation")
    img(src=imgUrl+"promo/img_2.jpg", alt="Altaco Presentation")
    img(src=imgUrl+"promo/img_3.jpg", alt="Altaco Presentation")
    img(src=imgUrl+"promo/img_4.jpg", alt="Altaco Presentation")

    div.promo__logo 
      span.corner_tl
      span.corner_tr
      span.corner_bl
      span.corner_br
      div.promo__logo-heading(data-aos='fade-up', data-aos-delay='400')
        div.promo__logo-title
          | <span>Mono</span>chrome
        div.promo__logo-subtitle collection