footer.footer
  div.footer__logo 
    include ../../icons/logo.html
  
  div.footer__copyright 
    | ©Copyright 2019 by Altaco. All Rights Reserved.
  
  a.footer__scrolltop(href='#') 
    include ../../icons/scroll-top.html
    