footer.footer
  div.footer__logo(data-aos='fade', data-aos-delay='200') 
    include ../../icons/logo.html
  
  div.footer__copyright(data-aos='fade', data-aos-delay='300') 
    | ©Copyright 2019 by Altaco. All Rights Reserved.
  
  a.footer__scrolltop(href='#', data-aos='fade', data-aos-delay='400') 
    include ../../icons/scroll-top.html
    