section.gallery
  div.container 
    div.gallery__wrap
      div.owl-carousel.gallery__slider 
        div.gallery__item 
          figure 
            img(src=imgUrl+"slider/slide_1.jpg", alt="Natural stones retain a timeless beauty")
            figcaption
              h5 Natural stones retain a timeless beauty.
              p Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.

        div.gallery__item 
          figure 
            img(src=imgUrl+"slider/slide_2.jpg", alt="Natural stones retain a timeless beauty")
            figcaption
              h5 Natural stones retain a timeless beauty.
              p Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.

        div.gallery__item 
          figure 
            img(src=imgUrl+"slider/slide_1.jpg", alt="Natural stones retain a timeless beauty")
            figcaption
              h5 Natural stones retain a timeless beauty.
              p Properly chosen stone will give your home the beauty outside the time frame, decorate it forever becoming part of your family history.

      div.gallery__nav