include common/pug/variables

doctype html
html(lang='ru')
  include common/pug/head
  body
  
    main
      include components/pagination/pagination
      include components/next/next

      section#promo
        include sections/promo/promo
      section#samples
        include sections/samples/samples
      section#gallery
        include sections/gallery/gallery
      section#about
        include sections/about/about

    include common/pug/scripts