include common/pug/variables

doctype html
html(lang='ru')
  include common/pug/head
  body
  
    main

      include sections/promo/promo
      include sections/samples/samples
      include sections/gallery/gallery
      include sections/about/about

    include common/pug/scripts